name: Azure Container Instance

on:
  push

env:
  AZURE_RESOURCE_GROUP : test-acr-rg-guest6
  AZURE_ACR_NAME : pbkregistrypbkguest6

jobs:
  azuread:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Microsoft Azure
      run: |
        az login --service-principal --tenant ${{ secrets.AZURE_TENANT_ID}} --username ${{ secrets.AZURE_CLIENT_ID}} --password ${{ secrets.AZURE_SECRET_ID}}
    - name: Create Azure Container Registry
      run: |
        az acr create --resource-group ${{ env.AZURE_RESOURCE_GROUP }} --name ${{ env.AZURE_ACR_NAME }} --sku Basic
    - name: Enable admin user on ACR
      run: |
        az acr update --name ${{ env.AZURE_ACR_NAME }} --admin-enabled true
    
    - name: Authenticate to ACR
      run: |
        az acr login --name ${{ env.AZURE_ACR_NAME }}
